
body {
	color:#302e52;
  background-image: url("Annotation 2020-04-04 0015262.jpg");
  background-repeat: repeat;

}

h1 {
	font-family:Tahoma, Verdana, Arial;
	text-align:center;
	color:red;
	text-shadow: 3px 4px 3px #000000;
	filter: dropshadow(color=#EDEBEA, offx=3, offy=4);
  color: maroon;
  margin-left: 40px;

} 
h2, h3 { font_family:Tahoma, Verdana, Arial;color:#000000;margin-left: 40px;}
p{text-align: center;margin-left: 40px;}
em{font-family:"Maskenball04", Georgia, serif;font-weight:bold;font-style:italic;margin-left: 40px;}
            a:link { color:maroon;text-decoration: none;} 
            a:Visited {text-decoration: none;color:	#27ae60} 
            a:Active {color:#5378ca; } 
            a:hover {color:#000000;text-decoration: underline;background-color: #ccc;}
           
           	.menu { font-size:14pt;background:#000000;text-align:center; text-shadow: 2px 2px 0 #888;}
            .small{ font-size:x-small; }
            td{padding: 10px; background-color: #ffffff;}
            div#wrapper{
				width: 600px; margin: 0 auto;-webkit-box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
				-moz-box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
				box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				background-color: #ECECEC;

			}
            
            table.sample {
        
				border-width: 0px;
				border-spacing: 0px;
				border-style: groove;
				border-color: black;
				border-collapse: collapse;
				background-color: white;
				overflow: hidden;
				background-color: #fff;
				margin: 0 auto;
        
            }
            table.sample th {
				border-width: 0px;
				padding: 4px;
				border-style: initial;
				border-color: black;
				background-color: #fff;
				background-image: url("Annotation 2020-04-04 0015262.jpg");
				border-left: none;
				-webkit-box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
				-moz-box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
				box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
            }
			table.sample td {
				border-width: 0px;
				padding: 0px;
				border-style: inset;
				border-color: gray;
				background-color: #fff;
        
            }
#borderimg {
  border-radius: 25px;
  background-color: #ECECEC rgba(2, 2, 2, 2);
  padding: 20px;
  border:3px solid;
  border-color:#6f1f1f	;
  background-size: 100% 100%;
  width: 250px;
  height: 250px;
  filter: dropshadow(color=#EDEBEA, offx=3, offy=4);
    color: maroon;
	text-shadow: 3px 4px 3px #000000;
	margin-left: 40px;
	-webkit-box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
				-moz-box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
				box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
				background-color: #ECECEC;
}
.footer {
  display: block;
  max-width: 790px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 0px;
  border-top: 1px solid hsla(300, 0%, 52%, .27);
}

nav a:hover{background-color:#F5F5DC;},
nav a:focus {
	color: #036;
	background-color: #ff0000;
	text-decoration: underline;
}
nav a:active {
	color: #fff;
	background-color: #024;
	text-decoration: underline;
}
nav  {
	background-color: #ff0000;
	color: #000;
	border-bottom: .25em solid #444;

}


li:hover{background-color:#d5d5d5;}
ul {
  display: block;
  list-style-type:none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0px;
  position:relative;
  margin: 0 auto;-webkit-box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
				-moz-box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
				box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 2);
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				
}